body {
  background-color: rgba(227, 230, 248, 0.75);
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.main-block {
  display: flex;
  flex-direction: column-reverse;
}

.main-title {
  font-weight: bold;
  color: black;
}

.main-title:hover {
  color: white;
  background-color: rgba(0, 0, 0, 0.59);
  border-radius: 10px;
}